{% load staticfiles %}
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/podcastery.css' %}">
</head>
<body>
	<div class="page-header">
	    <h1>
	    	<a href="/">Podcastery.io</a>
    		<a class="btn btn-secondary pull-right" href="{% url 'read_new' %}">New Read</a>
    		<a class="btn btn-secondary pull-right" href="{% url 'slot_new' %}">New Slot</a>
	    </h1>
	</div>
	<div class="content container">
		<div class="row">
			<div class="col-md-8">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>
<footer>
	{% if user.is_authenticated %}
		<a class="btn btn-secondary" href="{% url 'profile' %}">{{ request.user.username }}</a>
		<a class="btn btn-secondary" href="{% url 'logout' %}">Log Out</a>
	{% else %}
		<a class="btn btn-secondary" href="{% url 'signup' %}">Sign Up</a>
		<a class="btn btn-secondary" href="{% url 'login' %}">Log In</a>
	{% endif %}
</footer>